/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header-content h1 {
    margin: 0;
    font-size: 24px;
}

header .logout-btn {
    color: white;
    text-decoration: none;
    background-color: #ff4d4d;
    position: absolute; 
    right: 20px;
    top:2%;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
}

header .logout-btn:hover {
    background-color:#423997;
}

/* Main Content */
main.main-content {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main.main-content h2 {
    margin-top: 0;
    font-size: 22px;
    color: #333;
}

/* Form Styles */
form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

form input[type="text"],
form input[type="number"],
form textarea,
form input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

form textarea {
    resize: vertical;
    height: 100px;
}

form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #45a049;
}

/* Success and Error Messages */
.success {
    color: green;
    font-weight: bold;
    margin-bottom: 20px;
}

.error {
    color: red;
    font-weight: bold;
    margin-bottom: 20px;
}